<div class="item">
  <input type="checkbox" [checked]="item.completed" (change)="onToggle()">
  <input type="button" (click)="onUrgent()" value="urgent">
  
  <span [class.urgent]="item.urgent" [class.completed]="item.completed">{{ item.title }}</span>
  <span [class.urgent]="item.urgent" [class.completed]="item.completed"> up to: {{ item.deadline }}</span>
  <span [class.urgent]="item.urgent" [class.completed]="item.completed"> with priority: {{ item.priority }}</span>
  <input type="button" (click)="onDelete()" value="remove">
</div>