<div class="task-card">
  <div class="task-content">
    <input type="checkbox" [checked]="task.completed" (change)="onToggle()" class="checkbox">
    <div class="task-details">
      <span class="task-title" [class.urgent]="task.urgent" [class.completed]="task.completed">
        {{ task.title }}
      </span>
      <div class="task-meta">
        <span [class.urgent]="task.urgent" [class.completed]="task.completed">up to: {{ task.deadline }}</span>
      </div>
      <div class="task-meta">
        <span [class.urgent]="task.urgent" [class.completed]="task.completed">with priority: {{ task.priority }}</span>
      </div>
    </div>
    <div class="task-actions">
      <button (click)="onUrgent()" class="btn-urgent">Urgent</button>
      <button (click)="onDelete()" class="btn-remove">Remove</button>
    </div>
  </div>
</div>