<div class="menu-container">
    <h1>Welcome to The Ultimate Office App</h1>
    <p>What would you like to do today?</p>
    
    <div class="menu-options">
      <div class="menu-option">
        <h2>Plan Your Tasks</h2>
        <p>If you need to organize and plan your tasks, consider using the List component.</p>
        <a routerLink="/list" routerLinkActive="active" class="menu-button">Go to List</a>
      </div>
      
      <div class="menu-option">
        <h2>Manage Your Schedule</h2>
        <p>To keep track of your events and appointments, use the Calendar component.</p>
        <a routerLink="/calendar" routerLinkActive="active" class="menu-button">Go to Calendar</a>
      </div>
      
      <div class="menu-option">
        <h2>Visualize Your Projects</h2>
        <p>For a visual representation of your projects, head over to the Board component.</p>
        <a routerLink="/board" routerLinkActive="active" class="menu-button">Go to Board</a>
      </div>
    </div>
  </div>
  