<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/menu" routerLinkActive="active">Excellence</a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a routerLink="/menu" routerLinkActive="active" class="navbar-link">Menu</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/list" routerLinkActive="active" class="navbar-link">List</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/calendar" routerLinkActive="active" class="navbar-link">Calendar</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/board" routerLinkActive="active" class="navbar-link">Board</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />